body {
  min-height: 100vh;
  background: url('./assets/background.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
	height: 10vh;
	background-color: rgba(45, 52, 48, 0.6);
}

.form-control {
	width: 80%;
}

.icon{
	width: 20px;
	height: auto;
}

.card-height {
	width: 200px;
	height: auto;
}

.main {
	padding-top: 10%;
	background-color: rgba(45, 52, 48, 0.6);
	min-height: 80vh;
}
.footer {
  height: 10vh;
  bottom: 0;
  background-color: #000;
}
@media (min-width: 768px) {
	.container-details {
		height: 300px;
	}
	.card-height {
		height: 320px;
		width: auto;
	}
}
