body {
  margin: 0;
}

.right {
	float: right;
}
.form-control {
	width: 80%;
}

.none {
	display: none;
}

.main {
	height: 85vh;
}
.footer {
  position: relative;
  width: 100%;
  height: 40px;
  bottom: 0;
}
